<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Búsqueda </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Búsqueda</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="busquedaForm()">
    <ion-item>
      <ion-label>Localidad</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="todo.localidad"
        name="local"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Código Postal</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="todo.cp"
        max="99999"
        min="00000"
        name="codigopostal"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Provincia:</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="todo.provincia"
        name="prov"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select
        [(ngModel)]="todo.tipo"
        multiple="false"
        placeholder="Selecciona tipo"
        name="tip"
      >
        <ion-select-option value="publica" select>pública</ion-select-option>
        <ion-select-option value="privada">privada</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" color="primary">Buscar</ion-button>
  </form>
</ion-content>

<ion-content>
  <ion-label>Resultados de la busqueda</ion-label>
  <ion-list>
    <pre>{{result | json}}</pre>
    <!-- <ion-item *ngFor="let pelicula of peliculasBusqueda">
      <ion-label [routerLink]="['/busqueda', pelicula.id]"
        >{{ pelicula.title }}</ion-label
      >
    </ion-item> -->
  </ion-list>
</ion-content>

<ion-content>
  <ion-label>Mapa</ion-label>
  <div id="mapa-mapbox"></div>
</ion-content>
